<!DOCTYPE html>
<html>
<head>
	<title><%=blocks.title%></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="public/css/bootstrap.css">
    <%-stylesheets%>
</head>
<body>
	<!-- Navigation bar -->
	<div class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/main">RockBands</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<% if (loggedIn) { %>
						<li> <a href="/favourite">Любимые</a></li>
						<li><a href="/logout">Выход</a></li>
					<% } else { %>
						<li><a href="/login">Вход</a></li>
					<% } %>
				</ul>
			</div>
		</div>
	</div>

    <%-body%>

	<script type="text/javascript" src="public/js/jquery-3.2.0.min.js"></script>
    <script type="text/javascript" src="public/js/bootstrap.js"></script>
    <%-scripts%>
</body>
</html>