<% layout('base') -%>
<% block('title', 'Login') %>
<% stylesheet('public/css/login.css') -%>


<div class="container">
	<div class="row">
		<div id="log-window" class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">

			<ul class="nav nav-tabs nav-justified">
				<li class="active"><a data-toggle="tab" href="#menu1">Вход</a></li>
				<li><a data-toggle="tab" href="#menu2">Регистрация</a></li>
			</ul>

			<div class="tab-content">

				<div id="menu1" class="tab-pane fade in active">
					<form>
						<div class="form-group">
							<label for="inputName" class="control-label">Логин</label>
							<input type="text" class="form-control" id="inputName">
						</div>

						<div class="form-group">
							<label for="inputPassword" class="control-label">Пароль</label>
							<input type="password" class="form-control" id="inputPassword">
						</div>

						<div class="form-group">
							<p class="error-msg" id="auth-error" hidden>Неправильный логин или пароль</p>
							<button type="button" onclick="auth()" class="btn btn-primary btn-block">Войти</button>
						</div>
					</form>
				</div>

				<div id="menu2" class="tab-pane fade">
					<form>
						<div class="form-group">
							<label for="RegInputName" class="control-label">Логин</label>
							<input type="text" class="form-control" id="RegInputName">
							<small class="form-text text-muted">Минимальная длина - 3 символа</small>
							<p class="error-msg" id="reg-login-length-error" hidden>Минимум - 3 символа</p>
							<p class="error-msg" id="reg-login-error" hidden>Этот логин уже используется. Выберите другое имя</p>
						</div>

						<div class="form-group">
							<label for="RegInputPassword" class="control-label">Пароль</label>
							<input type="password" class="form-control" id="RegInputPassword">
							<small class="form-text text-muted">Минимальная длина - 5 символов</small>	
							<p class="error-msg" id="reg-password-length-error" hidden>Минимум - 5 символов</p>
						</div>
						
						<div class="form-group">
							<label for="RegInputPasswordConfirm" class="control-label">Повторите пароль</label>
							<input type="password" class="form-control" id="RegInputPasswordConfirm">
							<p class="error-msg" id="reg-password-error" hidden>Пароли не совпадают</p>
						</div>
						
						<div class="form-group">
							<p id="reg-ok" hidden>Регистрация прошла успешно </p>
							<button type="button" onclick="reg()" class="btn btn-primary btn-block">Регистрация</button>
						</div>
					</form>
				</div>

			</div>

		</div>
	</div>
</div>


<% script('/public/js/login.js') -%>