<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="public/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="public/css/log.css">
	<script type="text/javascript" src="public/js/jquery-3.2.0.min.js"></script>
	<script type="text/javascript" src="public/js/bootstrap.js"></script>
	<script type="text/javascript" src="public/js/log.js"></script>
</head>
<body>

	<!-- Navigation bar -->

	<div class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/main">RockBands</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="disabled"> <a href="#" id="menuloved">Обратная связь</a> </li>
					<li class="disabled"> <a href="#">Любимые</a> </li>
					<li class="disabled"><a href="#">Выход</a> </li>
				</ul>
			</div>
		</div>
	</div>


	<!-- FORM -->

<div id="wrapper">
	<div id="menu">
		<div id="but1"><button id="auth">Войти</button></div>
		<div id="but2"><button id="reg">Регистрация</button></div>
	</div>
<br>
<br>
	<div id="form">

	</div>
</div>

</body>
</html>