<% layout('base') -%>
<% block('title', 'RockBands') %>
<% stylesheet('public/css/main.css') -%>


<!-- Bands list -->

<div class="container">
	<div class="row">

		<div class="col-md-3 col-lg-3 transp">
			<ul class="list-group">
				<% for(var k = 0; k<bands.length ; k++){ %>
					<li onclick="doajax(<%=bands[k].band_id%>);" class="list-group-item list-group-item-success">
						<%=bands[k].bandname %>
					</li>
					<% } %>
			</ul>
		</div>

		<!-- Content (description and list of songs) -->

		<div class="col-md-9 col-lg-9 transp">
			<div class="jumbotron" id="description">
				<h1>Группа не выбрана</h1>
			</div>
			<ul class="list-group" id="songs">

			</ul>
		</div>

	</div>
</div>


<!-- Modal window -->

<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<button id="addbtn" type="button" class="btn btn-info btn-sm" onclick="favor()">&#9734;</button>
				<button type="button" class="btn btn-info btn-sm" onclick="play()" id="aud">Прослушать</button>
				<audio controls id="player" hidden>Аудио не поддерживается вашим браузером</audio>
			</div>
			<div class="modal-body">
				<pre id="words">words</pre>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" data-dismiss="modal">Закрыть</button>
			</div>
		</div>

	</div>
</div>

<% script('/public/js/main.js') -%>