.list-group-item-danger:hover {
	background-color: #FF9C9C;

	-moz-transform: scale(1.03,1.03);
	-ms-transform: scale(1.03,1.03);
	-webkit-transform: scale(1.03,1.03);
	-o-transform: scale(1.03,1.03);
	transform: scale(1.03,1.03);

	color: black;
	cursor: pointer;
}

.list-group-item-success:hover{
	background-color: #95F985;

	-moz-transform: scale(1.03,1.03);
	-ms-transform: scale(1.03,1.03);
	-webkit-transform: scale(1.03,1.03);
	-o-transform: scale(1.03,1.03);
	transform: scale(1.03,1.03);

	color: black;
	cursor: pointer;
}

audio {
	width: 0;
	margin-top: 15px;
}

#menuloved {
	cursor: default;
}

.list-group-item-danger , .list-group-item-success{
	-webkit-transition: .3s all;
	-moz-transition: .3s all;
	-o-transition: .3s all;
	transition: .3s all;
}

#deletelist .list-group-item-danger {
	text-align: center;
}

body{
	background-image:url(/public/images/concert1.jpg);
	background-repeat:repeat-y;
	background-attachment:fixed;
	background-position: top center;
	background-size: 100%;
}

