#menuloved {
	cursor: default;
}

textarea {
	resize: none;
}

.error-msg {
	font-weight: bold;
}

body{
background-image:url(/public/images/concert5.jpg);
background-repeat:repeat-y;
background-attachment:fixed;
background-position: top center;
background-size: 100%;
}